In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', 30)
pd.set_option('display.max_rows', 20)

# 1. Exploratory Data Analysis

We start every analysis by importing our datasets

## 1.1 Importing data

In [2]:
household = pd.read_csv('data/Household.csv', sep=';')
person = pd.read_csv('data/Person.csv', sep=';')
stage = pd.read_csv('data/Stage.csv', sep=';')
trip = pd.read_csv('data/Trip.csv', sep=';')

In [3]:
# Printing first 5 lines of the dataframe
person.head(5)

,person_id,household_id,age,gender,education_level,area_of_occupation,has_driver_license,is_disabled,sector_if_private_worker,sector_if_civil_servant,expf_person
0,1,3,60 to 69 years old,Male,Incomplete lower-secondary/middle school,Retired,Yes,Other impairments,Not applicable,Not applicable,35.6286
1,2,3,50 to 59 years old,Female,Incomplete lower-secondary/middle school,Other,No,Not disabled,Not applicable,Not applicable,35.6286
2,3,4,40 to 49 years old,Male,Incomplete lower-secondary/middle school,Self-employed (professional),Yes,Not disabled,Not applicable,Not applicable,32.6147
3,4,4,18 to 19 years old,Female,Incomplete undergraduate school,Student (regular courses),Yes,Not disabled,Not applicable,Not applicable,32.6147
4,5,4,10 to 14 years old,Male,Incomplete lower-secondary/middle school,Student (regular courses),No,Not disabled,Not applicable,Not applicable,32.6147

In [4]:
# Returning the shape (rows, columns) of the Dataframe
person.shape

(61358, 11)

## 1.2 Filtering data

In [5]:
# Returning the instance with index(row)=3
person.loc[3]

person_id                                                 4
household_id                                              4
age                                      18 to 19 years old
gender                                               Female
education_level             Incomplete undergraduate school
area_of_occupation                Student (regular courses)
has_driver_license                                      Yes
is_disabled                                    Not disabled
sector_if_private_worker                     Not applicable
sector_if_civil_servant                      Not applicable
expf_person                                         32.6147
Name: 3, dtype: object

In [6]:
# Returning the four first instances (row indices 0-3)
person.loc[0:3]

,person_id,household_id,age,gender,education_level,area_of_occupation,has_driver_license,is_disabled,sector_if_private_worker,sector_if_civil_servant,expf_person
0,1,3,60 to 69 years old,Male,Incomplete lower-secondary/middle school,Retired,Yes,Other impairments,Not applicable,Not applicable,35.6286
1,2,3,50 to 59 years old,Female,Incomplete lower-secondary/middle school,Other,No,Not disabled,Not applicable,Not applicable,35.6286
2,3,4,40 to 49 years old,Male,Incomplete lower-secondary/middle school,Self-employed (professional),Yes,Not disabled,Not applicable,Not applicable,32.6147
3,4,4,18 to 19 years old,Female,Incomplete undergraduate school,Student (regular courses),Yes,Not disabled,Not applicable,Not applicable,32.6147

In [7]:
# Filtering per column value (1st option)
person[person['area_of_occupation']=='Retired']

,person_id,household_id,age,gender,education_level,area_of_occupation,has_driver_license,is_disabled,sector_if_private_worker,sector_if_civil_servant,expf_person
0,1,3,60 to 69 years old,Male,Incomplete lower-secondary/middle school,Retired,Yes,Other impairments,Not applicable,Not applicable,35.6286
14,21,37,60 to 69 years old,Female,Complete upper-secondary/high school,Retired,No,Permanent physical difficulty to walk or to cl...,Not applicable,Not applicable,51.0876
26,36,48,60 to 69 years old,Male,Complete upper-secondary/high school,Retired,Yes,Not disabled,Not applicable,Not applicable,61.5311
29,39,50,60 to 69 years old,Male,Complete lower-secondary/middle school,Retired,Yes,Not disabled,Not applicable,Not applicable,54.1570
40,51,72,50 to 59 years old,Female,Complete undergraduate school,Retired,Yes,Not disabled,Not applicable,Not applicable,41.4124
...,...,...,...,...,...,...,...,...,...,...,...
61343,74832,345421,70 to 79 years old,Male,Complete graduate school,Retired,Yes,Not disabled,Not applicable,Not applicable,57.8228
61344,74833,345421,70 to 79 years old,Female,Complete graduate school,Retired,Yes,Not disabled,Not applicable,Not applicable,57.8228
61354,74843,345423,More than 80 years old,Male,Complete graduate school,Retired,Yes,Not disabled,Not applicable,Not applicable,33.4953
61355,74844,345423,70 to 79 years old,Female,Complete undergraduate school,Retired,No,Not disabled,Not applicable,Not applicable,33.4953
61357,74846,345424,More than 80 years old,Male,Complete graduate school,Retired,Yes,Not disabled,Not applicable,Not applicable,35.2705

In [8]:
# Filtering per column value (2nd option)
person.query('area_of_occupation=="Retired"')

,person_id,household_id,age,gender,education_level,area_of_occupation,has_driver_license,is_disabled,sector_if_private_worker,sector_if_civil_servant,expf_person
0,1,3,60 to 69 years old,Male,Incomplete lower-secondary/middle school,Retired,Yes,Other impairments,Not applicable,Not applicable,35.6286
14,21,37,60 to 69 years old,Female,Complete upper-secondary/high school,Retired,No,Permanent physical difficulty to walk or to cl...,Not applicable,Not applicable,51.0876
26,36,48,60 to 69 years old,Male,Complete upper-secondary/high school,Retired,Yes,Not disabled,Not applicable,Not applicable,61.5311
29,39,50,60 to 69 years old,Male,Complete lower-secondary/middle school,Retired,Yes,Not disabled,Not applicable,Not applicable,54.1570
40,51,72,50 to 59 years old,Female,Complete undergraduate school,Retired,Yes,Not disabled,Not applicable,Not applicable,41.4124
...,...,...,...,...,...,...,...,...,...,...,...
61343,74832,345421,70 to 79 years old,Male,Complete graduate school,Retired,Yes,Not disabled,Not applicable,Not applicable,57.8228
61344,74833,345421,70 to 79 years old,Female,Complete graduate school,Retired,Yes,Not disabled,Not applicable,Not applicable,57.8228
61354,74843,345423,More than 80 years old,Male,Complete graduate school,Retired,Yes,Not disabled,Not applicable,Not applicable,33.4953
61355,74844,345423,70 to 79 years old,Female,Complete undergraduate school,Retired,No,Not disabled,Not applicable,Not applicable,33.4953
61357,74846,345424,More than 80 years old,Male,Complete graduate school,Retired,Yes,Not disabled,Not applicable,Not applicable,35.2705

In [9]:
# Verifying which individual values are null
person.isnull()

,person_id,household_id,age,gender,education_level,area_of_occupation,has_driver_license,is_disabled,sector_if_private_worker,sector_if_civil_servant,expf_person
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
61353,False,False,False,False,False,False,False,False,False,False,False
61354,False,False,False,False,False,False,False,False,False,False,False
61355,False,False,False,False,False,False,False,False,False,False,False
61356,False,False,False,False,False,False,False,False,False,False,False
61357,False,False,False,False,False,False,False,False,False,False,False

In [10]:
# Counting the number of null values
person.isnull().sum()

person_id                     0
household_id                  0
age                          49
gender                        0
education_level             240
area_of_occupation           79
has_driver_license           98
is_disabled                   0
sector_if_private_worker    143
sector_if_civil_servant     286
expf_person                   0
dtype: int64

In [11]:
# Filtering only rows where any of the columns are null
person[person.isnull().any(axis=1)]

,person_id,household_id,age,gender,education_level,area_of_occupation,has_driver_license,is_disabled,sector_if_private_worker,sector_if_civil_servant,expf_person
89,113,141,NaN,Female,NaN,Other,NaN,Not disabled,Not applicable,Not applicable,61.5311
99,133,213,70 to 79 years old,Female,NaN,Retired,No,Not disabled,Not applicable,Not applicable,41.4124
105,139,215,40 to 49 years old,Male,Complete graduate school,NaN,Yes,Not disabled,NaN,Not applicable,33.0165
222,302,381,0 to 4 years old,Male,Illiterate,NaN,No,Not disabled,Not applicable,Not applicable,67.1583
486,715,882,40 to 49 years old,Female,NaN,Self-employed (professional),No,Not disabled,Not applicable,Not applicable,52.5082
...,...,...,...,...,...,...,...,...,...,...,...
60092,73449,343637,30 to 39 years old,Female,Complete undergraduate school,Civil servent,Yes,Not disabled,Not applicable,NaN,8.3128
60832,74253,344635,40 to 49 years old,Female,Complete upper-secondary/high school,Homekeeper,NaN,Not disabled,Not applicable,Not applicable,21.9099
61138,74603,345135,20 to 24 years old,Male,Incomplete undergraduate school,Private worker,Yes,Not disabled,NaN,Not applicable,45.3797
61145,74610,345147,25 to 29 years old,Female,Complete upper-secondary/high school,Private worker,Yes,Not disabled,NaN,Not applicable,45.3797
61212,74693,345264,10 to 14 years old,Male,Incomplete lower-secondary/middle school,Student (regular courses),NaN,Not disabled,Not applicable,Not applicable,33.8846

In [12]:
# Filling the null values in 'age' with the most common value of this column
person.age = person.age.fillna(person.age.mode()[0])
person.isnull().sum()

person_id                     0
household_id                  0
age                           0
gender                        0
education_level             240
area_of_occupation           79
has_driver_license           98
is_disabled                   0
sector_if_private_worker    143
sector_if_civil_servant     286
expf_person                   0
dtype: int64

In [13]:
# Dropping all columns with null values
person.dropna(axis=0)

,person_id,household_id,age,gender,education_level,area_of_occupation,has_driver_license,is_disabled,sector_if_private_worker,sector_if_civil_servant,expf_person
0,1,3,60 to 69 years old,Male,Incomplete lower-secondary/middle school,Retired,Yes,Other impairments,Not applicable,Not applicable,35.6286
1,2,3,50 to 59 years old,Female,Incomplete lower-secondary/middle school,Other,No,Not disabled,Not applicable,Not applicable,35.6286
2,3,4,40 to 49 years old,Male,Incomplete lower-secondary/middle school,Self-employed (professional),Yes,Not disabled,Not applicable,Not applicable,32.6147
3,4,4,18 to 19 years old,Female,Incomplete undergraduate school,Student (regular courses),Yes,Not disabled,Not applicable,Not applicable,32.6147
4,5,4,10 to 14 years old,Male,Incomplete lower-secondary/middle school,Student (regular courses),No,Not disabled,Not applicable,Not applicable,32.6147
...,...,...,...,...,...,...,...,...,...,...,...
61353,74842,345422,0 to 4 years old,Male,Illiterate,No activity,No,Not disabled,Not applicable,Not applicable,57.8228
61354,74843,345423,More than 80 years old,Male,Complete graduate school,Retired,Yes,Not disabled,Not applicable,Not applicable,33.4953
61355,74844,345423,70 to 79 years old,Female,Complete undergraduate school,Retired,No,Not disabled,Not applicable,Not applicable,33.4953
61356,74845,345423,30 to 39 years old,Male,Complete undergraduate school,Civil servent,Yes,Not disabled,Not applicable,Federal Civil Service,33.4953
61357,74846,345424,More than 80 years old,Male,Complete graduate school,Retired,Yes,Not disabled,Not applicable,Not applicable,35.2705

## 1.3 Exploring data

In [14]:
household.head(5)

,household_id,people_in_household,bathrooms,bedrooms,vehicles,bicycles,motorcycles,dwelling_type,income,household_tenure,piped_water_supply,street_pavement,private_parking_space,year_of_newest_vehicle,domestic_worker,cable_tv,social_assistence,expf_household,macrozone,administrative_region
0,3,2,2,2,1,0,0,Brickwork house,"More than R$ 4,400 and less than R$ 8,800",Owned,"Yes, available at least in one room","Asphalt, concrete",Available,1995 to 1999,No domestic workers,Available,No,36.9016,315,Taguatinga
1,4,4,1,3,3,0,0,Brickwork house,"More than R$ 1,760 and less than R$ 2,640",Owned,"Yes, available at least in one room","Asphalt, concrete",Available,2005 to 2009,No domestic workers,Available,No,33.7800,315,Taguatinga
2,7,3,2,3,1,0,0,Brickwork house,"More than R$ 2,640 and less than R$ 4,400",Owned,"Yes, available at least in one room","Asphalt, concrete",Available,NaN,No domestic workers,Available,No,37.1846,315,Taguatinga
3,22,3,4,4,2,0,0,Brickwork house,"More than R$ 4,400 and less than R$ 8,800",Owned,"Yes, available at least in one room","Asphalt, concrete",Available,2014 or newer,No domestic workers,Available,No,37.2258,315,Taguatinga
4,35,3,2,3,1,1,0,Apartment,"More than R$ 8,800 and less than R$ 13,200",Owned,"Yes, available at least in one room","Asphalt, concrete",Available,2010 to 2013,No domestic workers,Available,No,68.3503,222,Guará

In [15]:
# Quickly calculating statistical summary for numerical columns
household.describe()

,household_id,people_in_household,bathrooms,bedrooms,vehicles,bicycles,motorcycles,expf_household,macrozone
count,19252.000000,19252.000000,19252.000000,19252.000000,19252.000000,19252.000000,19252.000000,19252.000000,19252.000000
mean,132270.295761,3.187097,1.938188,2.632298,1.006389,0.637752,0.092302,49.393745,348.272283
std,113153.061358,1.465941,2.612911,2.598174,0.947158,0.969154,0.355064,14.926671,147.920602
min,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.296300,111.000000
25%,22326.500000,2.000000,1.000000,2.000000,0.000000,0.000000,0.000000,38.728400,254.000000
50%,109376.500000,3.000000,2.000000,3.000000,1.000000,0.000000,0.000000,48.084100,344.000000
75%,229269.250000,4.000000,2.000000,3.000000,1.000000,1.000000,0.000000,57.781300,422.000000
max,345424.000000,13.000000,303.000000,311.000000,10.000000,11.000000,20.000000,99.649100,626.000000

In [19]:
# Get the mean number of vehicles in each household:
print("The average number of vehicles in each household is: " + str(household['vehicles'].mean()))

print("The most common value of income per household is: "+ str(household['income'].mode()[0]))

The average number of vehicles in each household is: 1.0063889466029503
The most common value of income per household is: More than R$ 880 and less than R$ 1,760

In [20]:
# Filter the dataframe to get the households where there are 2 or more vehicles
household[household.vehicles >=2]

,household_id,people_in_household,bathrooms,bedrooms,vehicles,bicycles,motorcycles,dwelling_type,income,household_tenure,piped_water_supply,street_pavement,private_parking_space,year_of_newest_vehicle,domestic_worker,cable_tv,social_assistence,expf_household,macrozone,administrative_region
1,4,4,1,3,3,0,0,Brickwork house,"More than R$ 1,760 and less than R$ 2,640",Owned,"Yes, available at least in one room","Asphalt, concrete",Available,2005 to 2009,No domestic workers,Available,No,33.7800,315,Taguatinga
3,22,3,4,4,2,0,0,Brickwork house,"More than R$ 4,400 and less than R$ 8,800",Owned,"Yes, available at least in one room","Asphalt, concrete",Available,2014 or newer,No domestic workers,Available,No,37.2258,315,Taguatinga
7,44,3,2,2,2,1,0,Brickwork house,"More than R$ 4,400 and less than R$ 8,800",Owned,"Yes, available at least in one room","Asphalt, concrete",Available,2014 or newer,No domestic workers,Available,No,54.3644,352,Samambaia
10,48,5,2,4,3,1,0,Brickwork house,"More than R$ 1,760 and less than R$ 2,640",Owned,"Yes, available at least in one room","Asphalt, concrete",Available,2014 or newer,No domestic workers,Not available,No,61.7667,352,Samambaia
12,50,3,2,2,2,2,0,Brickwork house,"More than R$ 2,640 and less than R$ 4,400",Owned,"Yes, available at least in one room","Asphalt, concrete",Available,2014 or newer,No domestic workers,Available,No,54.3644,352,Samambaia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19244,345409,2,4,3,2,0,0,Brickwork house,"More than R$ 13,200 and less than R$ 17,600",Owned,"Yes, available at least in one room","Asphalt, concrete",Available,2010 to 2013,"Yes, regular",Available,No,35.9075,532,Lago Sul
19245,345410,4,9,7,3,0,0,Brickwork house,"More than R$ 26,400",Owned,"Yes, available at least in one room","Asphalt, concrete",Available,2010 to 2013,"Yes, regular",Available,No,41.2053,532,Lago Sul
19246,345419,3,4,5,2,1,0,Brickwork house,"More than R$ 13,200 and less than R$ 17,600",Owned,"Yes, but only connected to a tap outside of th...","Asphalt, concrete",Available,2010 to 2013,"Yes, occasional",Available,No,37.8270,532,Lago Sul
19247,345420,4,3,4,4,0,0,Brickwork house,"More than R$ 13,200 and less than R$ 17,600",Owned,"Yes, but only connected to a tap outside of th...","Asphalt, concrete",Available,2014 or newer,"Yes, regular",Available,No,41.2053,532,Lago Sul
19248,345421,6,3,4,3,2,0,Brickwork house,"More than R$ 13,200 and less than R$ 17,600",Owned,"Yes, but only connected to a tap outside of th...","Asphalt, concrete",Available,2014 or newer,"Yes, occasional",Not available,No,65.3006,532,Lago Sul

In [22]:
# Discover the most common income value for these households:
# Filter the dataframe to get the households where there are 2 or more vehicles
household[household.vehicles >=2].income.mode()[0]

'More than R$ 4,400 and less than R$ 8,800'

In [23]:
# Create a column to check if there are many vehicles in the household or not
check_many_cars = pd.Series(household['vehicles']>=2)
household = pd.concat([household, check_many_cars.rename('are_many_cars')], axis=1)
household.head(3)

,household_id,people_in_household,bathrooms,bedrooms,vehicles,bicycles,motorcycles,dwelling_type,income,household_tenure,piped_water_supply,street_pavement,private_parking_space,year_of_newest_vehicle,domestic_worker,cable_tv,social_assistence,expf_household,macrozone,administrative_region,are_many_cars
0,3,2,2,2,1,0,0,Brickwork house,"More than R$ 4,400 and less than R$ 8,800",Owned,"Yes, available at least in one room","Asphalt, concrete",Available,1995 to 1999,No domestic workers,Available,No,36.9016,315,Taguatinga,False
1,4,4,1,3,3,0,0,Brickwork house,"More than R$ 1,760 and less than R$ 2,640",Owned,"Yes, available at least in one room","Asphalt, concrete",Available,2005 to 2009,No domestic workers,Available,No,33.7800,315,Taguatinga,True
2,7,3,2,3,1,0,0,Brickwork house,"More than R$ 2,640 and less than R$ 4,400",Owned,"Yes, available at least in one room","Asphalt, concrete",Available,NaN,No domestic workers,Available,No,37.1846,315,Taguatinga,False

In [28]:
# Grouping by this new column
print(household.groupby(household.are_many_cars).household_id.count())

are_many_cars
False    14454
True      4798
Name: household_id, dtype: int64